<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a [routerLink]="'incidents'" routerLinkActive="active" class="nav-link">Incidents(Admin)</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'create-incident'" routerLinkActive="active" class="nav-link">New Ticket</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'customer-incidents'" routerLinkActive="active" class="nav-link">Incidents(customer)</a>
    </li>
  </ul>
</nav>

<div class = "container">
  <router-outlet>

  </router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span>
      All rights reserved ©Orange 2023
    </span>
  </div>

</footer>
